baseURL = 'https://myeongil.seorapjang.com'
languageCode = 'ko-kr'
title = 'Myeongil'
theme = 'PaperMod'

[params]
  env = "production"
  description = "쓰고 싶은 것을 기록하는 블로그"
  author = "Myeongil"
  defaultTheme = "auto"
  ShowReadingTime = true
  ShowShareButtons = false
  ShowPostNavLinks = true
  ShowBreadCrumbs = true
  ShowCodeCopyButtons = true
  ShowToc = true

[params.homeInfoParams]
  Title = "Myeongil"
  Content = "쓰고 싶은 것을 기록합니다."

[[params.socialIcons]]
  name = "github"
  url = "https://github.com/username1103"

[menu]
  [[menu.main]]
    identifier = "posts"
    name = "Posts"
    url = "/posts/"
    weight = 10
  [[menu.main]]
    identifier = "tags"
    name = "Tags"
    url = "/tags/"
    weight = 20
  [[menu.main]]
    identifier = "archives"
    name = "Archives"
    url = "/archives/"
    weight = 30

[outputs]
  home = ["HTML", "RSS", "JSON"]

[markup]
  [markup.highlight]
    codeFences = true
    guessSyntax = true
    lineNos = true
    style = "monokai"
